*{
    margin: 10px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: #fff;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/BackgroundImage.png);
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}

.container{
    padding: 10px 10px;
}


nav{
    /*Flex creates a row container with aligned elements inside th econtainer*/
    display: flex;
    /*elemnts are centered with the flex row container*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

/* ---------------------About---------------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    /*  make each element position in one row next to each other */
    display: flex;
    /* creates space between elements in one row (due to flex) */
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    width: 100%;
}

.about-col-1 img{
    width: 300px;
    height: auto;
    border-radius:15px;
}

.about-col-2{
    flex-basis: 60%;
    width: 100%;
}

.sub-title{
    font-size: 60px;
    color: #fff;
}

.tab-titles{
    /*  make each element position in one row next to each other */
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-content ul li {
    list-style: none;
    margin: 10px 0;

}

.tab-content ul li span{
    color: #ff004f;
    font-size: 14px;
}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

/* -------------Projects----------------- */
#projects{
    padding: 30px 0;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div{
    background:  #262626;
    padding: 40px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    /* transform block backgrough when you hover over it */
    transition: background 0.5s,transform 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.projects-list div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
}

.projects-list div a{
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 12px;
    margin-top: 20px;
    /* makes sure all 'a(links)' are blocks in line */
    display: inline-block;
}

.projects-list div:hover{
    /*moves div block slightly up by 10px  */
    transform: translateY(-10px);
    background-color: #ff004f;

}
/* ---------------portfolio------------------- */
#portfolio{
    padding: 50px 0;
}
/* -------resume---------------- */
#resume a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: #ff004f;
    padding: 15px;
    border-radius: 10px;
}

/* -----contact------------- */
.contact-left{
    /*position of columns along a row */
    flex-basis: 35%;
    width: 100%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #ff004f;
}
.contact-right{
     /*position of columns aloung a row */
    flex-basis: 60%;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border: 0;
    width: 100%;
    outline: none;
    background-color: #262626;
    color: #fff;
    border-radius: 6px;
}

form button{
    background-color: #ff004f;
    padding: 14px 60px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}

.social-media{
    margin-top: 20px;
}

.social-media a{
    text-decoration: none;
    color: #ababab;
    display: inline-block;
    margin-right: 15px;
    font-size: 30px;
    transition: transform 0.5s;
}

.social-media a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    margin-top: 15px;
    background: #262626;
    font-size: 18px;
    font-weight: 300;
}
.copyright i{
    color: #ff004f;
}
  
/*----------css for small screen----------  */

nav .fas{
    display: none;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url(images/phonebackground.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #ff004f;
        /*ensures menu stays fixed when page is scrolled 
        positioned relative to the viewport.
        */
        position: fixed;  
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        /*Specifies the stack order of an element
        Elements with a higher z-index value are displayed in front */
        z-index: 2; 
        transition: left 0.5s;
    }
    nav ul li{
        margin: 25px;
        display: block;
    }
    nav ul .fas{
        cursor: pointer;
        /*ensures icon is positioned within the top right corner of the nav ul menu. */
        position: absolute;
        left: 25px;
        right: 25px;

    }
}


